!!! 5
html
	include header
	body	
		include _nav
		form(id="editbackgroundForm",action='/admin/updateBackground/' + event._id ,method='post').well
			div.btn-group
				a(href='/').btn 取消
				input(type='submit',value='送出').btn.btn-primary		
			iframe(id="innerEditor",src="/admin/editBackgroundInner/"+event._id).backgroundEditor
			input(type="hidden",id="background",name="background",value= event.background)
			div.btn-group.right
				a(href='/').btn 取消
				input(type='submit',value='送出').btn.btn-primary
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
		script(src="/js/admin.js")
