!!! 5
html
	include header
	body
		a(href='/admin/new',style="float:right") 建立新活動
		table.table.table-striped
			thead
				tr
					th #
					th EventName
					th EventStartDate
					th EventEndDate
			tbody
			each event, i in events
				tr
					td #{i+1}
					td: a(href='/event/' + event._id) #{event.name}					
					td #{dateFormat(event.startDate)}
					td #{dateFormat(event.endDate)}
					td: a(href='/admin/edit/' + event._id) 編輯活動狂
					td: a(href='/admin/delete/' + event._id) delete

		