!!! 5
html
	include header
	body	
		form(action='/admin/create/' ,method='post').well
			div
				label 活動名稱
				input(name='name',id='name',type='text')
			div
				label 活動開始時間
				input(name='startDate',id='startDate',type='text')
			div
				label 活動結束時間
				input(name='endDate',id='endDate',type='text')
			div.btn-group
				a(href='/').btn 取消
				input(type='submit',value='送出').btn.btn-primary
			