body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.seat{
    left: 61px;
    position: absolute;
    top: -38px;

    rect{
    	cursor:pointer;
    }
    circle{
    	cursor:pointer;
    }
}


.toolbar{
    position: fixed; bottom: 5%; width: 100%; left: 0%; height: 20px;

    #username{
        font-size:12px;
        font-weight:bold;
        width:100px;
        line-height:20px;
        float:left;
        padding:7px;
        text-align:center;
    }
    .auth{
        width: 500px;
    }

    .login,.home,.toolbar,.auth{
        float:left;
    }

    .auth{
        .join , .cancel , #Logout{
            float:left;
        }
    }

}
.preparing{
    display:none;
}
.notlogin{
    .auth{
        display:none;
    }
}
.notjoin{
    .login,.cancel{
        display:none;
    }
}
.joined{
    .login,.join{
        display:none;
    }
}


.userlist{
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    height:800px;
    overflow:auto;
    .caption{
        padding:5px;
    }
}