body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.seat {
  left: 61px;
  position: absolute;
  top: -38px;
}
.seat rect {
  cursor: pointer;
}
.seat circle {
  cursor: pointer;
}
.toolbar {
  position: fixed;
  bottom: 5%;
  width: 100%;
  left: 0%;
  height: 20px;
}
.toolbar #username {
  font-size: 12px;
  font-weight: bold;
  width: 100px;
  line-height: 20px;
  float: left;
  padding: 7px;
  text-align: center;
}
.toolbar .auth {
  width: 500px;
}
.toolbar .login,
.toolbar .home,
.toolbar .toolbar,
.toolbar .auth {
  float: left;
}
.toolbar .auth .join,
.toolbar .auth .cancel,
.toolbar .auth #Logout {
  float: left;
}
.preparing {
  display: none;
}
.notlogin .auth {
  display: none;
}
.notjoin .login,
.notjoin .cancel {
  display: none;
}
.joined .login,
.joined .join {
  display: none;
}
.userlist {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  height: 800px;
  overflow: auto;
}
.userlist .caption {
  padding: 5px;
}
