body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.seat {
  left: 61px;
  position: absolute;
  top: -38px;
}
.seat rect {
  cursor: pointer;
}
.seat circle {
  cursor: pointer;
}
.toolbar {
  position: fixed;
  bottom: 5%;
  width: 300px;
  left: 0%;
  height: 20px;
}
.toolbar #username {
  font-size: 24px;
  font-weight: bold;
  width: 200px;
}
.toolbar .login,
.toolbar .home {
  float: left;
}
.userlist {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  height: 800px;
  overflow: auto;
}
.userlist .caption {
  padding: 5px;
}
