body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.seat{
    left: 61px;
    position: absolute;
    top: -38px;

    rect{
    	cursor:pointer;
    }
    circle{
    	cursor:pointer;
    }
}